# Homework2
To import library and set the enviroment 
To get the dataset

In [93]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
data=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv',header=None,names=['a','b','c','d'])

To record the data into DataFrame

In [121]:
data2=data[1:11]
data3=data2[['a']]
def record(x):
    i=0
    df = pd.DataFrame(columns=[])
    for i in range (0,len(x)):
        data=x.iloc[i] 
        List=data.str.split(";").tolist()  
        df=df.append(List,ignore_index=True)
        i=i+1
    return df
data4=record(data3)
data4

    0     1     2     3      4   5    6       7     8     9     10 11
0    7  0.27  0.36  20.7  0.045  45  170   1.001     3  0.45   8.8  6
1  6.3   0.3  0.34   1.6  0.049  14  132   0.994   3.3  0.49   9.5  6
2  8.1  0.28   0.4   6.9   0.05  30   97  0.9951  3.26  0.44  10.1  6
3  7.2  0.23  0.32   8.5  0.058  47  186  0.9956  3.19   0.4   9.9  6
4  7.2  0.23  0.32   8.5  0.058  47  186  0.9956  3.19   0.4   9.9  6
5  8.1  0.28   0.4   6.9   0.05  30   97  0.9951  3.26  0.44  10.1  6
6  6.2  0.32  0.16     7  0.045  30  136  0.9949  3.18  0.47   9.6  6
7    7  0.27  0.36  20.7  0.045  45  170   1.001     3  0.45   8.8  6
8  6.3   0.3  0.34   1.6  0.049  14  132   0.994   3.3  0.49   9.5  6
9  8.1  0.22  0.43   1.5  0.044  28  129  0.9938  3.22  0.45    11  6

## Task1(1) min-max normalized values
To compute the min-max normalized values by the function of each feature of the wine
And show the result in a new DataFrame

In [92]:
def minmax(data):
    mnor = pd.DataFrame(columns=[])
    for i in range(0,10):
        df1 = pd.DataFrame(columns=[])
        df1=df1.append(data[[i]].astype('float64'))
        Min=df1.min().values
        Max=df1.max().values
        for m in range(0,len(df1)):
            k=df1.iloc[m].values
            x=(k-Min)/(Max-Min)
            mnor.loc[m,i]=x
    return mnor
minmax=minmax(data4)
minmax

,0,1,2,3,4,5,6,7,8,9
0,0.421053,0.5,0.740741,1.000000,0.071429,0.939394,0.820225,1.000000,0.000000,0.555556
1,0.052632,0.8,0.666667,0.005208,0.357143,0.000000,0.393258,0.027778,1.000000,1.000000
2,1.000000,0.6,0.888889,0.281250,0.428571,0.484848,0.000000,0.180556,0.866667,0.444444
3,0.526316,0.1,0.592593,0.364583,1.000000,1.000000,1.000000,0.250000,0.633333,0.000000
4,0.526316,0.1,0.592593,0.364583,1.000000,1.000000,1.000000,0.250000,0.633333,0.000000
5,1.000000,0.6,0.888889,0.281250,0.428571,0.484848,0.000000,0.180556,0.866667,0.444444
6,0.000000,1.0,0.000000,0.286458,0.071429,0.484848,0.438202,0.152778,0.600000,0.777778
7,0.421053,0.5,0.740741,1.000000,0.071429,0.939394,0.820225,1.000000,0.000000,0.555556
8,0.052632,0.8,0.666667,0.005208,0.357143,0.000000,0.393258,0.027778,1.000000,1.000000
9,1.000000,0.0,1.000000,0.000000,0.000000,0.424242,0.359551,0.000000,0.733333,0.555556

## Task1 (2) z-score nomalized values
To compute the z-score nomalized values by the function and show the results in a new DataFrame

In [94]:
def z_score(data):
    znor= pd.DataFrame(columns=[])
    for i in range(0,11):
        df1 = pd.DataFrame(columns=[])
        df1=df1.append(data[[i]].astype('float64'))
        Mean=df1.mean().values
        std=df1.std().values
        for m in range(0,len(df1)):
            k=df1.iloc[m].values
            x=(k-Mean)/std
            znor.loc[m,i]=x
    return znor
zscore=z_score(data4)
zscore

,0,1,2,3,4,5,6,7,8,9,10
0,-0.199166,0.000000,0.229902,1.742545,-0.839541,0.944105,0.800117,1.842833,-1.740915e+00,0.064106,-1.416596
1,-1.128606,0.891133,-0.040571,-0.961160,-0.058573,-1.494833,-0.347221,-0.742304,1.007898e+00,1.346228,-0.338751
2,1.261383,0.297044,0.770849,-0.210917,0.136669,-0.236026,-1.403979,-0.336068,6.413896e-01,-0.256424,0.585116
3,0.066389,-1.188177,-0.311044,0.015571,1.698605,1.101456,1.283207,-0.151415,4.069060e-15,-1.538546,0.277160
4,0.066389,-1.188177,-0.311044,0.015571,1.698605,1.101456,1.283207,-0.151415,4.069060e-15,-1.538546,0.277160
5,1.261383,0.297044,0.770849,-0.210917,0.136669,-0.236026,-1.403979,-0.336068,6.413896e-01,-0.256424,0.585116
6,-1.261383,1.485221,-2.474832,-0.196762,-0.839541,-0.236026,-0.226448,-0.409929,-9.162708e-02,0.705167,-0.184773
7,-0.199166,0.000000,0.229902,1.742545,-0.839541,0.944105,0.800117,1.842833,-1.740915e+00,0.064106,-1.416596
8,-1.128606,0.891133,-0.040571,-0.961160,-0.058573,-1.494833,-0.347221,-0.742304,1.007898e+00,1.346228,-0.338751
9,1.261383,-1.485221,1.176559,-0.975316,-1.034783,-0.393377,-0.437800,-0.816165,2.748812e-01,0.064106,1.970916

## Task1(3) mean subtracted normalized values
To compute the mean subtracted normalized values and show  the results in a new DataFrame

In [103]:
def mean(data):
    meanor = pd.DataFrame(columns=[])
    for i in range(0,10):
        df1 = pd.DataFrame(columns=[])
        df1=df1.append(data[[i]].astype('float64'))
        Mean=df1.mean().values
        for m in range(0,len(df1)):
            k=df1.iloc[m].values
            x=(k-Mean)
            meanor.loc[m,i]=x
    return meanor
meanor=mean(data4)
meanor

      0     1      2      3       4     5     6        7             8      9
0 -0.15  0.00  0.017  12.31 -0.0043  12.0  26.5  0.00499 -1.900000e-01  0.002
1 -0.85  0.03 -0.003  -6.79 -0.0003 -19.0 -11.5 -0.00201  1.100000e-01  0.042
2  0.95  0.01  0.057  -1.49  0.0007  -3.0 -46.5 -0.00091  7.000000e-02 -0.008
3  0.05 -0.04 -0.023   0.11  0.0087  14.0  42.5 -0.00041  4.440892e-16 -0.048
4  0.05 -0.04 -0.023   0.11  0.0087  14.0  42.5 -0.00041  4.440892e-16 -0.048
5  0.95  0.01  0.057  -1.49  0.0007  -3.0 -46.5 -0.00091  7.000000e-02 -0.008
6 -0.95  0.05 -0.183  -1.39 -0.0043  -3.0  -7.5 -0.00111 -1.000000e-02  0.022
7 -0.15  0.00  0.017  12.31 -0.0043  12.0  26.5  0.00499 -1.900000e-01  0.002
8 -0.85  0.03 -0.003  -6.79 -0.0003 -19.0 -11.5 -0.00201  1.100000e-01  0.042
9  0.95 -0.05  0.087  -6.89 -0.0053  -5.0 -14.5 -0.00221  3.000000e-02  0.002

## Task2(1) manhatten distance
To store the 2 sample datasets into 2 DataFrame
To compute the manhatten distance and show the results of both the nearest and the fasthest

In [157]:
data5=data[1:30]
data6=data5[['a']]
data7=record(data6)
distance1= pd.DataFrame(data7.iloc[0:10])
distance2= pd.DataFrame(data7.iloc[11:21])

def manhatten_distance(data1,data2):
    mdis = pd.DataFrame(columns=["nearest",'fasthest'])
    mda = np.zeros((10, 10), dtype=np.float)
    for i in range(0,10):
        d1=data1.iloc[i].values.astype('float64')
        for m in range(0,10):
            d2=data2.iloc[m].values.astype('float64')
            md=np.sum(np.abs(d1-d2))
            mda[i][m]=md
    
    for j in range(0,10):
        mdis.loc[j,"nearest"]=mda[j].min().tolist()
        mdis.loc[j,"fasthest"]=mda[j].max().tolist()
    return mdis
mdis=manhatten_distance(distance1,distance2)
print(mdis)

   nearest fasthest
0  11.3058  147.874
1  28.4065  88.7652
2  10.7663  100.835
3  34.0426  152.262
4  34.0426  152.262
5  10.7663  100.835
6   9.0016  85.2179
7  11.3058  147.874
8  28.4065  88.7652
9  20.1444  77.1104

## Task2(2) euclidean distance
To compute the euclidean distance and show the results of both the nearest and the fasthest

In [159]:
def euclidean_distance(data1,data2):
    edis = pd.DataFrame(columns=["nearest",'fasthest'])
    eda = np.zeros((10, 10), dtype=np.float)
    for i in range(0,10):
        d1=data1.iloc[i].values.astype('float64')
        for m in range(0,10):
            d2=data2.iloc[m].values.astype('float64')
            ed=np.linalg.norm(d1-d2)
            eda[i][m]=ed
    
    for j in range(0,10):
        edis.loc[j,"nearest"]=eda[j].min().tolist()
        edis.loc[j,"fasthest"]=eda[j].max().tolist()
    return edis
edis=euclidean_distance(distance1,distance2)
print(edis)

   nearest fasthest
0   5.0736  101.253
1  20.9021  59.0696
2  6.42701  76.8109
3  18.7098  115.489
4  18.7098  115.489
5  6.42701  76.8109
6  5.13352  62.8972
7   5.0736  101.253
8  20.9021  59.0696
9  9.69044  55.3282

## Task2(3) Cosine Distance
To compute the cosine distance and show the results of both the nearest and the fasthest

In [160]:
def cosine_distance(data1,data2):
    cdis = pd.DataFrame(columns=["nearest",'fasthest'])
    cda = np.zeros((10, 10), dtype=np.float)
    for i in range(0,10):
        d1=data1.iloc[i].values.astype('float64')
        for m in range(0,10):
            d2=data2.iloc[m].values.astype('float64')
            cd=np.dot(d1,d2)/(np.linalg.norm(d1)*(np.linalg.norm(d2)))
            cda[i][m]=cd
    
    for j in range(0,10):
        cdis.loc[j,"nearest"]=cda[j].min().tolist()
        cdis.loc[j,"fasthest"]=cda[j].max().tolist()
    return cdis
cdis=cosine_distance(distance1,distance2)
print(cdis)

    nearest  fasthest
0  0.980204  0.999606
1  0.960791  0.999861
2  0.976784  0.998179
3   0.98351  0.999705
4   0.98351  0.999705
5  0.976784  0.998179
6  0.982072  0.999421
7  0.980204  0.999606
8  0.960791  0.999861
9  0.983894  0.999273